a{
    text-decoration:none;
    color:white;
}
.menu-drop{
    position:relative;
    list-style:none;
    padding:0;
}
.dropdown ul {
    position: absolute;
    display: none;
    margin-left:-40px;
}
.dropdown ul li{
    width:170px;
    border-bottom:1px solid white;
    background-color: #808080;  
    padding: 10px;
    cursor:pointer;
}
.dropdown ul li a{
    padding: 10px;
    font-size:15px;
}
.dropdown:hover>ul{
    display:block;
}

.dropdown ul li:hover{
    font-weight:bold;
    background-color:#242729;

}